<div ng-controller="BigBoardController as vm" class="container text-center">
  <br>
  <h3><span ng-if="nav.status.username">My</span><span ng-if="!nav.status.username">The</span> Big Board</h3>
  <br>
  <div id="bigBoard" class="text-left">
    <div droppable drop="vm.handleDrop()"></div>
    <div class="pick row" draggable ng-repeat="prospect in vm.prospects | orderBy: 'bbRank'" ng-style="{'background-image': 'url(' + prospect.schImg + ')', 'background-position': 'right'}">
      <div class="col-xs-1">
        <h1 style="padding-top: .5em;">{{ prospect.bbRank }}</h1>
      </div>
      <div class="col-xs-1 arrowIcons">
        <img src="http://www.clker.com/cliparts/8/7/Y/H/W/e/up-arrow-circle-hi.png" alt="Up Arrow" ng-show="prospect.bbRank != 1 && nav.status.username" ng-click="vm.movePlayerUp(prospect);"/>
        <br>
        <img src="http://www.clker.com/cliparts/y/m/X/o/s/R/down-arrow-circle-hi.png" alt="Down Arrow" ng-show="prospect.bbRank != vm.prospects.length && nav.status.username" style="margin-top: .75em;" ng-click="vm.movePlayerDown(prospect);"/>
      </div>
      <div class="col-xs-10">
        <h4 style="margin-top: .25em;"><strong>{{ prospect.name }}</strong></h4>
        <p>{{ prospect.position }} <small>({{ prospect.rank }})</small> - <small><em>{{ prospect.school }}</em></small></p>
      </div>
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-warning" ng-if="nav.status.username" ng-click="vm.saveBoard()">Save</button>
  <button type="button" class="btn">Share</button>
  <button type="button" class="btn" ng-click="vm.initBoard()" ng-show="nav.status.username">Reset</button>
</div>
