<div ng-controller="CommunityController as vm" class="container text-center">
  <br>
  <h3>Community Mock Drafts</h3>
  <br>
  <div class="draftBox" style="width: 100%;">
    <div class="draft" ui-sref="ViewDraft">
      <img src="http://uxrepo.com/static/icon-sets/elusive/svg/group.svg" alt="Draft Icon" style="max-width: 5vw;"/>
      <p>Killer Mock Draft V.1.0.2<br><small>GreenBayRulez21</small><br><small>1/03/2016</small><br><span style="font-size: .6em;">Likes: 2,239</span></p>
      <h3>#1</h3>
    </div>
    <div class="draft" ui-sref="ViewDraft" >
      <img src="http://uxrepo.com/static/icon-sets/elusive/svg/group.svg" alt="Draft Icon" style="max-width: 5vw;"/>
      <p>A Simple Mock v2<br><small>OverDwayneBowe1992</small><br><small>1/15/2016</small><br><span style="font-size: .6em;">Likes: 1,748</span></p>
      <h3>#2</h3>
    </div>
    <div class="draft" ui-sref="ViewDraft">
      <img src="http://uxrepo.com/static/icon-sets/elusive/svg/group.svg" alt="Draft Icon" style="max-width: 5vw;"/>
      <p>rEtH1NkY0UrDrAfT<br><small>rEtH1NkY0UrLiFe</small><br><small>1/11/2016</small><br><span style="font-size: .6em;">Likes: 1,324</span></p>
      <h3>#3</h3>
    </div>
    <!-- <div class="draft" ng-repeat="i in [1,2,3,4,5,6]" ui-sref="ViewDraft">
      <img src="http://uxrepo.com/static/icon-sets/elusive/svg/group.svg" alt="Draft Icon" style="max-width: 5vw;"/>
      <p>Mock Draft {{ i }}<br><small>patsfan271</small><br><small>1/25/2016</small><br><span style="font-size: .6em;">Likes: 632</span></p>
      <h3>#{{i+3}}</h3>
    </div> -->
  </div>
</div>
