<div ng-controller="CommunityController as vm" class="container text-center">
  <br>
  <h3>Community Mock Drafts</h3>
  <br>
  <div class="text-left">
    <div class="draftBox" style="width: 100%;">

      <div class="draft" ui-sref="ViewDraft" style="height: 60vh; border: solid 5px gold; position: relative;">
        <div class="text-center">
          <img src="http://uxrepo.com/static/icon-sets/elusive/svg/group.svg" alt="Draft Icon" style="max-width: 5vw;"/>
        </div>
        <hr>
        <p>Killer Mock Draft V.1.0.2<br><small>GreenBayRulez21</small><br><small>1/03/2016</small><br><span style="font-size: .6em;"><img src="http://www.kerryevans.com/resources/images/icons/30x30/thumbs-up.png" alt="Thumbs Up Icon" style="width: 1vw;" />&nbsp;: 2,239</span></p>
        <hr>
        <p>
          <small>
            #1 - Joey Bosa DE | Ohio State <br/>
            #2 - Jared Goff QB | California <br/>
            #3 - Laremy Tunsil OT | Ole Miss <br/>
            #4 - Myles Jack OLB | UCLA <br/>
            #5 - Jalen Ramsey CB | Florida State <br/>

          </small>
        </p>
        <h1 class="text-center" style="position: absolute; bottom: .5em; left: 27.5%;">#1</h1>
      </div>

      <div class="draft" ui-sref="ViewDraft" style="height: 60vh; border: solid 5px silver;">
        <div class="text-center">
           <img src="http://uxrepo.com/static/icon-sets/elusive/svg/group.svg" alt="Draft Icon" style="max-width: 5vw;"/>
        </div>
        <hr>
        <p>A Simple Mock v2<br><small>OverDwayneBowe1992</small><br><small>1/15/2016</small><br><span style="font-size: .6em;"><img src="http://www.kerryevans.com/resources/images/icons/30x30/thumbs-up.png" alt="Thumbs Up Icon" style="width: 1vw;" />&nbsp;: 1,748</span></p>
        <hr>
        <p>
          <small>
            #1 - Joey Bosa DE | Ohio State <br/>
            #2 - Laremy Tunsil OT | Ole Miss <br/>
            #3 - Jared Goff QB | California <br/>
            #4 - Jalen Ramsey CB | Florida State <br/>
            #5 - Myles Jack OLB | UCLA <br/>
          </small>
        </p>
        <h1 class="text-center" style="position: absolute; bottom: .5em; left: 27.5%;">#2</h1>
      </div>

      <div class="draft" ui-sref="ViewDraft" style="height: 60vh; border: solid 5px #cd7f32;">
        <div class="text-center">
           <img src="http://uxrepo.com/static/icon-sets/elusive/svg/group.svg" alt="Draft Icon" style="max-width: 5vw;"/>
        </div>
        <hr>
        <p>rEtH1NkY0UrDrAfT<br><small>rEtH1NkY0UrLiFe</small><br><small>1/11/2016</small><br><span style="font-size: .6em;"><img src="http://www.kerryevans.com/resources/images/icons/30x30/thumbs-up.png" alt="Thumbs Up Icon" style="width: 1vw;" />&nbsp;: 1,324</span></p>
        <hr>
        <p>
          <small>
            #1 - <strong>Laremy Tunsil</strong> | OT - <em>Ole Miss</em> <br/>
            #2 - <strong>Jared Goff</strong> | QB - <em>California</em> <br/>
            #3 - <strong>Joey Bosa</strong> | DE - <em>Ohio State</em> <br/>
            #4 - <strong>Myles Jack</strong> | OLB - <em>UCLA</em> <br/>
            #5 - <strong>Jalen Ramsey</strong> | CB - <em>Florida State</em> <br/>

          </small>
        </p>
        <h1 class="text-center" style="position: absolute; bottom: .5em; left: 27.5%;">#3</h1>
      </div>

      <div class="draft" ui-sref="ViewDraft" style="height: 60vh; border: solid 1px #ccc;">
        <div class="text-center">
            <img src="http://uxrepo.com/static/icon-sets/elusive/svg/group.svg" alt="Draft Icon" style="max-width: 5vw;"/>
        </div>
        <hr>
        <p>Something New...<br><small>PuppyLove1112</small><br><small>1/13/2016</small><br><span style="font-size: .6em;"><img src="http://www.kerryevans.com/resources/images/icons/30x30/thumbs-up.png" alt="Thumbs Up Icon" style="width: 1vw;" />&nbsp;: 1,173</span></p>
        <hr>
        <p>
          <small>
            #1 - Laremy Tunsil OT | Ole Miss <br/>
            #2 - Jared Goff QB | California <br/>
            #3 - Joey Bosa DE | Ohio State <br/>
            #4 - Jalen Ramsey CB | Florida State <br/>
            #5 - Myles Jack OLB | UCLA <br/>

          </small>
        </p>
        <h1 class="text-center" style="position: absolute; bottom: .5em; left: 27.5%;">#4</h1>
      </div>

      <img src="http://www.clker.com/cliparts/V/1/Z/A/h/U/left-arrow-right-hi.png" alt="Right Arrow Icon" id="comArrow" />


    </div>
  </div>
</div>
