<div ng-controller="CreateController as vm" class="text-center">
  <div class="jumbotron" style="position: relative;">
    <button ui-sref="Create"><h1 style="font-size: 2em; padding: 0; color: #666;">Create A Draft</h1></button>
  </div>
  <p id="introText">Welcome to Mock Drafters, the easiest site on the internet to build, save, and export your NFL mock drafts. This site was built with the purpose of providing NFL fans and mock drafters an outlet to store their drafts. All rankings, measurables, and pretty much anything content-ish came from CBS Sports. If you don't like a certain ranking or analysis, complain to them. This site is not for profit and built purely for my entertainment purposes only. If you love the rankings or other content from them, be sure to check them out the next time you are looking for your sports content. Also, please don't critique the software too much, I'm simply a junior web developer still looking for his first full-time development job. I'm still learning and this project is contantly under development and evolving. Cheers! </p>
  <div id="copyright">© 2016 - Soggust Studios</div>
</div>
