<div ng-controller="NewsController as vm" class="container text-center">
  <br>
  <h3>Latest Draft News</h3>
  <br>
  <div class="draftBox" style="width: 100%;">
    <div class="row newsArticle">
        <div class="col-xs-9 text-left">
          <h3>NFL Scout Analysis: Vernon Hargreaves III</h3>
          <p style="font-size: .75em;">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          <h4 style="margin: 0; padding: 0;"><small>{{ vm.date | date:'MM-dd-yy'}}</small></h4>
        </div>
        <div class="col-xs-3">
          <img src="https://40.media.tumblr.com/e9f5ec37501e3d3e3bbc7f54ab6abe88/tumblr_nul5imH9EB1uso5gio1_1280.jpg" alt="News Article Picture"  style="max-height: 25vh; max-width: 15vw;"/>
        </div>
    </div>
    <div class="row newsArticle">
        <div class="col-xs-9 text-left">
          <h3>Jared Goff convicted of first degree murder!</h3>
          <p style="font-size: .75em;">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          <h4 style="margin: 0; padding: 0;"><small>{{ vm.date | date:'MM-dd-yy'}}</small></h4>
        </div>
        <div class="col-xs-3">
          <img src="http://cdn.abclocal.go.com/content/kgo/images/cms/1139865_1280x720.jpg" alt="News Article Picture"  style="max-height: 25vh; max-width: 15vw;"/>
        </div>
    </div>
    <div class="row newsArticle">
        <div class="col-xs-9 text-left">
          <h3>Joey Bosa not worried about going #1 overall</h3>
          <p style="font-size: .75em;">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          <h4 style="margin: 0; padding: 0;"><small>{{ vm.date | date:'MM-dd-yy'}}</small></h4>
        </div>
        <div class="col-xs-3">
          <img src="http://buckeyextra.dispatch.com/content/graphics/2014/11/10-gameday-minnesota/bosa-main.jpg" alt="News Article Picture"  style="max-height: 25vh; max-width: 15vw;"/>
        </div>
    </div>
    <div class="row newsArticle">
        <div class="col-xs-9 text-left">
          <h3>Oregon prospect DeForest Buckner stock on the rise</h3>
          <p style="font-size: .75em;">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          <h4 style="margin: 0; padding: 0;"><small>{{ vm.date | date:'MM-dd-yy'}}</small></h4>
        </div>
        <div class="col-xs-3">
          <img src="https://lintvkhon.files.wordpress.com/2015/06/deforest-buckner.jpg?w=650" alt="News Article Picture"  style="max-height: 25vh; max-width: 15vw;"/>
        </div>
    </div>
    <div class="row newsArticle">
        <div class="col-xs-9 text-left">
          <h3>Could Carson Wentz be the first QB off the board?</h3>
          <p style="font-size: .75em;">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          <h4 style="margin: 0; padding: 0;"><small>{{ vm.date | date:'MM-dd-yy'}}</small></h4>
        </div>
        <div class="col-xs-3">
          <img src="http://www.inforum.com/sites/default/files/styles/16x9_860/public/0B3BwpQyyvQXkSHJUclljd1FRdTg.jpg?itok=qbVEQY_j" alt="News Article Picture"  style="max-height: 25vh; max-width: 15vw;"/>
        </div>
    </div>
  </div>
</div>
