<div ng-controller="ViewDraftController as vm" class="container text-center">
  <br>
  <div class="draftBox" style="width: 100%; height: 75vh;">
    <h3 class="text-center"><strong>{{ vm.draft.name }}</strong></h3>
    <h4 class="text-center"><small>{{ vm.draft.creator }} | <em><small>{{ vm.draft.created | date: ddMMyyyy }}</small></em></small></h4>
    <div class="pick text-left" ng-repeat="i in vm.draft.draft" ng-style="{'background-image': 'url(' + i.logo + ')'}" ng-class="{'selectedPick':i.player}">
      <div ng-show="i.player">
          <h1 class="inline" style="text-shadow: none; color: #aaa;" style="margin-top: .5em; padding-top: .5em;">#{{i.number}}</h1>
          <h4 class="inline" ng-show="i.player" style="margin: 0; padding: 0;">{{ i.player.name }} - {{ i.player.position }} | {{ i.player.school }}</h4>
      </div>
      <div ng-show="!i.player">
        <h4>{{ i.team }}</h4>
        <p>#{{i.number}} - <small>Team Needs: <span ng-repeat="need in i.needs"><small><strong>{{ need }} </strong></small></span></small></p>
      </div>
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-warning" ui-sref="EditDraft" ng-show="vm.draft.creator === nav.status.username">Edit</button>
  <button type="button" class="btn" ui-sref="{{nav.previousState}}">Go Back</button>
</div>
